<style>
 .comment___in {
  min-height: calc(100vh - 100px);
 }
</style>








<div class="list-group comment___in m-3">

 <% for (const item of result) {%> 
 <a href="#" class="list-group-item list-group-item-action">
  <div class="d-flex w-100 justify-content-between">
   <img src="http://cdn.amediatv.uz/uploads/<%= item.userID.photo %>"" alt="">
   <h5 class=" mb-1">
   <%= item.userID.name %>
    </h5>
    <small class="text-muted">
     <%= moment(item.date).format("DD-MM-YYYY") %>
    </small> 
  </div>
  <p class="mb-1">
   <%= item.message %>
  </p>
 </a>
 <% } %> 



</div>