<p><%= slider[0].kino.name %> </p>

<% if %> 


<div class="banner">
    <div class="owl-carousel owl-theme anime-carousel">
        <div class="item">
            <div class="carousel__item">
                <img class="carousel-out__img" src="img/banner_img.png" alt="">
                <div class="opacity__banner"></div>

                <div class="carousel-text-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <a class="banner__link" href="#">
                                    Omadsizninig qayta tug'ilishi: O'zga olamdagi sarguzasht..
                                </a>
                                <p>
                                    34 yoshli Otaku hali ham ishsiz edi. Ishsizlikka nuqta qo'yish kerak, barini boshidan 
                                    boshlash kerak deb qaror qildi. Baxtga qarshi uni yuk mashinasi urib ketadi va o'zga olamga 
                                    tushib qoladi. Sobiq Otaku bu olamga tushib Rudeus Greyret ismli bolakayga aylandi va eng qizig'i - 
                                    eski hayotidagi xotiralar ongida qoladi. Endi u hayotini mojizaviy olamda yangidan boshlashi mumkin, 
                                    nglagan qahramonimiz afsun ilmida eng yuqori cho'qqilarni maqsad qilib qo'ydi va bunga erishishiga qattiq 
                                    ishonardi.
                                </p>
                                <div class="banner-stars">
                                    <span><i class="fa fa-star __gold"></i></span>
                                    <span><i class="fa fa-star __gold"></i></span>
                                    <span><i class="fa fa-star __gold"></i></span>
                                    <span><i class="fa fa-star __gold"></i></span>
                                    <span><i class="fa fa-star __gold"></i></span>
                                </div>
                                <div class="carousel-inner">
                                    <button class="carousel-click click__left" type="button"><i class="fa fa-angle-left"></i></button>
                                    <button class="carousel-click click__right" type="button"><i class="fa fa-angle-right"></i></button>
                                    <div class="owl-carousel owl-theme banner-inner-carousel">
                                        <div class="item">
                                            <div class="sm__item">
                                                <img src="img/sm_img.png" alt="">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="sm__item">
                                                <img src="img/sm_img.png" alt="">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="sm__item">
                                                <img src="img/sm_img.png" alt="">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="sm__item">
                                                <img src="img/sm_img.png" alt="">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="sm__item">
                                                <img src="img/sm_img.png" alt="">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="sm__item">
                                                <img src="img/sm_img.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="banner-right-img">
                                    <div class="__img">
                                        <img src="img/right_img.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="carousel__item">
                <img class="carousel-out__img" src="img/banner_img.png" alt="">
                <div class="opacity__banner"></div>

                <div class="carousel-text-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <a class="banner__link" href="#">
                                    Omadsizninig qayta tug'ilishi: O'zga olamdagi sarguzasht..
                                </a>
                                <p>
                                    34 yoshli Otaku hali ham ishsiz edi. Ishsizlikka nuqta qo'yish kerak, barini boshidan 
                                    boshlash kerak deb qaror qildi. Baxtga qarshi uni yuk mashinasi urib ketadi va o'zga olamga 
                                    tushib qoladi. Sobiq Otaku bu olamga tushib Rudeus Greyret ismli bolakayga aylandi va eng qizig'i - 
                                    eski hayotidagi xotiralar ongida qoladi. Endi u hayotini mojizaviy olamda yangidan boshlashi mumkin, 
                                    nglagan qahramonimiz afsun ilmida eng yuqori cho'qqilarni maqsad qilib qo'ydi va bunga erishishiga qattiq 
                                    ishonardi.
                                </p>
                                <div class="banner-stars">
                                    <span><i class="fa fa-star __gold"></i></span>
                                    <span><i class="fa fa-star __gold"></i></span>
                                    <span><i class="fa fa-star __gold"></i></span>
                                    <span><i class="fa fa-star __gold"></i></span>
                                    <span><i class="fa fa-star __gold"></i></span>
                                </div>
                                <div class="carousel-inner">
                                    <button class="carousel-click click__left" type="button"><i class="fa fa-angle-left"></i></button>
                                    <button class="carousel-click click__right" type="button"><i class="fa fa-angle-right"></i></button>
                                    <div class="owl-carousel owl-theme banner-inner-carousel">
                                        <div class="item">
                                            <div class="sm__item">
                                                <img src="img/sm_img.png" alt="">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="sm__item">
                                                <img src="img/sm_img.png" alt="">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="sm__item">
                                                <img src="img/sm_img.png" alt="">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="sm__item">
                                                <img src="img/sm_img.png" alt="">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="sm__item">
                                                <img src="img/sm_img.png" alt="">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="sm__item">
                                                <img src="img/sm_img.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="banner-right-img">
                                    <div class="__img">
                                        <img src="img/right_img.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="carousel__item">
                <img class="carousel-out__img" src="img/banner_img.png" alt="">
                <div class="opacity__banner"></div>

                <div class="carousel-text-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <a class="banner__link" href="#">
                                    Omadsizninig qayta tug'ilishi: O'zga olamdagi sarguzasht..
                                </a>
                                <p>
                                    34 yoshli Otaku hali ham ishsiz edi. Ishsizlikka nuqta qo'yish kerak, barini boshidan 
                                    boshlash kerak deb qaror qildi. Baxtga qarshi uni yuk mashinasi urib ketadi va o'zga olamga 
                                    tushib qoladi. Sobiq Otaku bu olamga tushib Rudeus Greyret ismli bolakayga aylandi va eng qizig'i - 
                                    eski hayotidagi xotiralar ongida qoladi. Endi u hayotini mojizaviy olamda yangidan boshlashi mumkin, 
                                    nglagan qahramonimiz afsun ilmida eng yuqori cho'qqilarni maqsad qilib qo'ydi va bunga erishishiga qattiq 
                                    ishonardi.
                                </p>
                                <div class="banner-stars">
                                    <span><i class="fa fa-star __gold"></i></span>
                                    <span><i class="fa fa-star __gold"></i></span>
                                    <span><i class="fa fa-star __gold"></i></span>
                                    <span><i class="fa fa-star __gold"></i></span>
                                    <span><i class="fa fa-star __gold"></i></span>
                                </div>
                                <div class="carousel-inner">
                                    <button class="carousel-click click__left" type="button"><i class="fa fa-angle-left"></i></button>
                                    <button class="carousel-click click__right" type="button"><i class="fa fa-angle-right"></i></button>
                                    <div class="owl-carousel owl-theme banner-inner-carousel">
                                        <div class="item">
                                            <div class="sm__item">
                                                <img src="img/sm_img.png" alt="">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="sm__item">
                                                <img src="img/sm_img.png" alt="">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="sm__item">
                                                <img src="img/sm_img.png" alt="">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="sm__item">
                                                <img src="img/sm_img.png" alt="">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="sm__item">
                                                <img src="img/sm_img.png" alt="">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="sm__item">
                                                <img src="img/sm_img.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="banner-right-img">
                                    <div class="__img">
                                        <img src="img/right_img.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="news-home">
    <div class="container">
        <h1 class="title__z"><i class="fa fa-angle-right"></i> Yangiliklar</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="box-border news-first">
                    <img class="back_korona" src="img/back_korona.png" alt="">
                    <div class="title-top">
                        <h2>H.U.M</h2>
                        <img src="img/korona.png" alt="">
                    </div>
                    <ul>
                        <li>1. Haqida</li>
                        <li>2. Umumiy</li>
                        <li>3. Ma`lumot</li>
                        <li>4. Yangi animelar haqida ma`lumotlar</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="box-border">
                    <video controls class="home__video" src="img/video.mp4"></video>
                </div>
            </div>
            <div class="col-md-4">
                <a href="#">
                    <div class="box-border news__item">
                        <img src="img/right_img.png" alt="">
                        <div class="opa"></div>
                        <div class="news__item__title">
                            <h3>Yangiliklar</h3>
                            <h4>tez kunlarda Dota haqida anime o'zbek tilida</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#">
                    <div class="box-border news__item">
                        <img src="img/right_img.png" alt="">
                        <div class="opa"></div>
                        <div class="news__item__title">
                            <h3>Yangiliklar</h3>
                            <h4>tez kunlarda Dota haqida anime o'zbek tilida</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#">
                    <div class="box-border news__item">
                        <img src="img/right_img.png" alt="">
                        <div class="opa"></div>
                        <div class="news__item__title">
                            <h3>Yangiliklar</h3>
                            <h4>tez kunlarda Dota haqida anime o'zbek tilida</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="tab-animes">
    <div class="container">
        <div class="tab-links">
            <ul>
                <li class="link__active">Hamma animelar</li>
                <li>Anime filmalar</li>
                <li>Ongoing</li>
            </ul>
        </div>
        <div class="tab-content">
            <aside class="__active">
                <div class="tab-inner-box">
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                </div>
            </aside>
            <aside>
                <div class="tab-inner-box">
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                </div>
            </aside>
            <aside>
                <div class="tab-inner-box">
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>


<script></script>