<div class="kino">
    <div class="container">
        <div class="row kino__top">
            <div class="col-md-3">
                <div class="img_left">
                    <img src="/img/23.png" alt="">
                    <div class="__bottom">
                        <h3>Yoshlik ifori</h3>
                        <div class="banner-stars">
                            <span><i class="fa fa-star __gold"></i></span>
                            <span><i class="fa fa-star __gold"></i></span>
                            <span><i class="fa fa-star __gold"></i></span>
                            <span><i class="fa fa-star __gold"></i></span>
                            <span><i class="fa fa-star __gold"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 __video">
                <video controls src="/"></video>
            </div>
            <div class="col-md-3 mt-4">
                <h1 class="title__z"><i class="fa fa-angle-right"></i> Ma`lumotlar</h1>

                <div class="profile-info">
                    <div class="info__item">
                        <h3> <i class="fa fa-map"></i> Mamlakat:</h3>
                        <h4>Yaponiya</h4>
                    </div>
                    <div class="info__item">
                        <h3> <i class="fa fa-user"></i> Rejissor:</h3>
                        <h4>Zafar@mail.ru</h4>
                    </div>
                    <div class="info__item">
                        <h3 > <i class="fa fa-microphone"></i> Studiya:</h3>
                        <h4>1245566</h4>
                    </div>
                    <div class="info__item">
                        <h3> <i class="fa fa-folder-open"></i> Janr:</h3>
                        <h4>10 000 so'm</h4>
                    </div>
                    <div class="info__item">
                        <h3><i class="fa fa-list"></i> Kategoriya:</h3>
                        <h4>10 000 so'm</h4>
                    </div>
                    <div class="info__item">
                        <h3><i class="fa fa-clock"></i> Yil:</h3>
                        <h4>10 000 so'm</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-9 mt-4">
                <div>
                    <button class="__download">
                        <i class="fa fa-download"></i>   Yuklab olish
                    </button>
                </div>
                <p class="mt-4">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam corporis harum ab omnis sed numquam, molestias minima magni a blanditiis enim accusamus delectus laborum voluptatibus facilis, nemo nisi vel architecto.
                </p>
            </div>
        </div>
        <div class="kino-kadr pt-3">
            <h1 class="title__z"><i class="fa fa-angle-right"></i> Filmdan kadrlar</h1>

            <div class="carousel-kadr">
                <div class="owl-carousel owl-kadr owl-theme">
                    <div class="item">
                        <div class="img-kadr">
                            <img src="/img/23.png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-kadr">
                            <img src="/img/23.png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-kadr">
                            <img src="/img/23.png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-kadr">
                            <img src="/img/23.png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-kadr">
                            <img src="/img/23.png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-kadr">
                            <img src="/img/23.png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-kadr">
                            <img src="/img/23.png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-kadr">
                            <img src="/img/23.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kino-kadr pt-3">
            <h1 class="title__z"><i class="fa fa-angle-right"></i> Ijodkorlar</h1>

            <div class="flex-ijodkor">
                <div class="__item">
                    <div class="img-pro">
                        <img src="/img/23.png" alt="">
                    </div>
                    <h4>Pixel janoblari</h4>
                </div>
            </div>
            
        </div>
    </div>
</div>