<div class="news-one">
    <div class="container">
        <div class="row">
            <div class="col-md-9 pr-5">
                <div class="date-news">
                    <i class="fa fa-calendar" aria-hidden="false"></i>
                    <h6>22.03.2021 17:45</h6>
                </div>
                <h1 class="title-news">Aniblaning yangi soni Narruto premerasi haqida</h1>
                <div class="img-news">
                    <img src="/img/banner_img.png" alt>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quaerat nemo, explicabo 
                    laudantium aut aliquid obcaecati, voluptatibus enim odio neque fugiat! Deserunt unde at rem 
                    eligendi harum magnam aliquam provident?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quaerat nemo, explicabo 
                    laudantium aut aliquid obcaecati, voluptatibus enim odio neque fugiat! Deserunt unde at rem 
                    eligendi harum magnam aliquam provident?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quaerat nemo, explicabo 
                    laudantium aut aliquid obcaecati, voluptatibus enim odio neque fugiat! Deserunt unde at rem 
                    eligendi harum magnam aliquam provident?
                </p>

                <div class="adverstiment">
                    <a href="#">
                        <img src="/img/" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <h1 class="title__z"><i class="fa fa-angle-right"></i> Yangiliklar</h1>

                <div class="news-home">
                    <div class="row">
                        <div class="col-12">
                            <a href="#">
                                <div class="box-border news__item">
                                    <img src="img/right_img.png" alt="">
                                    <div class="opa"></div>
                                    <div class="news__item__title">
                                        <h3>Yangiliklar</h3>
                                        <h4>tez kunlarda Dota haqida anime o'zbek tilida</h4>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="box-border news__item">
                                    <img src="img/right_img.png" alt="">
                                    <div class="opa"></div>
                                    <div class="news__item__title">
                                        <h3>Yangiliklar</h3>
                                        <h4>tez kunlarda Dota haqida anime o'zbek tilida</h4>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="box-border news__item">
                                    <img src="img/right_img.png" alt="">
                                    <div class="opa"></div>
                                    <div class="news__item__title">
                                        <h3>Yangiliklar</h3>
                                        <h4>tez kunlarda Dota haqida anime o'zbek tilida</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>