<style>
  @import url("https://fonts.googleapis.com/css?family=Dosis:300,400,700,800");

  /** Styles for the 403 Page **/

  .particle-error,
  .permission_denied,
  #particles-js {
    width: 100%;
    height: 100%;
    margin: 0px !important;
    overflow: hidden;
  }

  #particles-js {
    position: fixed !important;
    opacity: 0.23;
  }

  .permission_denied {
    background: #24344c !important;
  }

  .denied__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    font-family: "Dosis", sans-serif;
    text-align: center;
    color: white;
  }
  .denied__wrapper h1{
    font-family: "Dosis", sans-serif;
    font-size: 150px;
  }

  
</style>


<!-- Icons purchased via Iconfinder under Basic License -->

<body class="permission_denied">
  <div id="particles-js"></div>
  <div class="denied__wrapper">
    <h1>402</h1>
    <h3>Salom hurmatli foydalanuvchi. Video olishingiz uchun avval <br> 
      tarif sotib olishingiz kerak</h3>

  </div>
</body>