<style>
  .image_111 img {
    width: 100%;
    height: 100vh;
  }

  @media (max-width: 768px) {
    .image_111 img {
      width: 100%;
      height: 30vh;
      margin: 40% auto;
    }
  }
</style>


<!-- Icons purchased via Iconfinder under Basic License -->

<body class="permission_denied">
  <div id="particles-js" class="image_111">
    <img src="/public/img/warning.jpg" alt="">
  </div>
</body>