

<div class="tab-animes">
    <div class="container">
        <div class="tab-links">
            <ul>
                <li class="link__active">Hamma animelar</li>
                <li>Anime filmalar</li>
                <li>Ongoing</li>
            </ul>
        </div>
        <div class="tab-content">
            <aside class="__active">
                <div class="tab-inner-box">
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                </div>
            </aside>
            <aside>
                <div class="tab-inner-box">
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                </div>
            </aside>
            <aside>
                <div class="tab-inner-box">
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                    <div class="__item">
                        <div class="img__in">
                            <div class="opa"></div>
                            <img src="img/right_img.png" alt="">
                            <h4> [ 10-12 ] </h4>
                        </div>
                        <h3>Va'da qilingan neverland 2-fasl [10-12]</h3>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>